<div class="row ocultar-div">
  <img *ngFor="let imagen of imagenes; let i = index"
    class="img-miniatura m-2 d-block w-100 rounded col-md-2" alt="..."
    [class.selected]="activo === i" (click)="setActivo(i)" [src]="imagen">
</div>

<div class=" m-auto">
  <div id="carouselExampleIndicators" class="carousel slide"
    data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let imagen of imagenes; let i = index"
        data-target="#carouselExampleIndicators" [class.active]="activo === i">
      </li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let imagen of imagenes; let i = index" class="carousel-item"
        [class.active]="activo === i">
        <img class="d-block w-100 rounded" alt="..." [src]="imagen">
      </div>
    </div>

    <a class="carousel-control-prev" (click)="prev()" role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" (click)="next()" role="button"
      data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>