<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>

    <a class="logo" href="#" (click)="navigateHome()"><strong
        class="h1">TBO</strong><span class="text-muted h6">PTION</span></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <!-- barra de busqueda -->
    <nb-action class="control-item">
      <!-- <ngx-search-input (search)="search($event)"></ngx-search-input> -->
      <nb-search type="rotate-layout"> </nb-search>
    </nb-action>
    <!-- Barra de notificaciones -->
    <nb-action class=" control-item" *nbIsGranted="['view', 'menu_usuario']"
      icon="bell-outline">
    </nb-action>
    <!-- Menu de usuario -->
    <nb-action class="user-action" *nbIsGranted="['view', 'menu_usuario']">
      <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="userMenu"
        [onlyPicture]="userPictureOnly" [name]="user?.nombre"
        [picture]="user?.ruta_imagen">
      </nb-user>
    </nb-action>
    <!-- Boton login -->
    <nb-action class="user-action">
      <button *ngIf="user === null" size="tiny" nbButton nbTooltip
        [ghost]="true" [routerLink]="linkLogin" nbTooltip="Iniciar sesión">
        Iniciar Sesión
      </button>
    </nb-action>
  </nb-actions>
</div>